<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientKey</key>
	<string>wFT51VeLR1ZwLccEKdPugKfYwniYGbNUoPbdHXXc</string>
	<key>applicationId</key>
	<string>nz3r1Tq9kkcEmGoFa8WPXmDbTZXq9v9lpd1J1esj</string>
</dict>
</plist>
